@model DevolucionesUNISinu.Business.DTOs.Devoluciones.BancoDto

@{
    Layout = null;
}
@section Styles{

}



<form asp-action="Crear" autocomplete="off" id="formulario" onsubmit="return jQueryAjaxPost(this,'Crear banco', '¿Desea crear el banco?');">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Banco" />
        <span asp-validation-for="Nombre" class="text-danger error"></span>
    </div>

    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>

<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")