@model DevolucionesUNISinu.Business.DTOs.Usuarios.CambiarPasswordDto

@{
    Layout = null;
}
@section Styles{

}



<form asp-action="CambiarPassword" autocomplete="off" id="formulario" onsubmit="return jQueryAjaxPost(this,'Cambiar contraseña', '¿Desea cambiar la contraseña?');">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UsuarioId" />


    <div class="form-group">
        <label asp-for="ActualPassword" class="control-label"></label>
        <input asp-for="ActualPassword" class="form-control" />
        <span asp-validation-for="ActualPassword" class="text-danger error"></span>
    </div>
    <div class="form-group">
        <label asp-for="NuevoPassword" class="control-label"></label>
        <input asp-for="NuevoPassword" class="form-control" />
        <span asp-validation-for="NuevoPassword" class="text-danger error"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmarPassword" class="control-label"></label>
        <input asp-for="ConfirmarPassword" class="form-control" />
        <span asp-validation-for="ConfirmarPassword" class="text-danger error"></span>
    </div>
  
    <div class="text-muted">
        <p><small>La contraseña debe contener entre 9 y 20 caracteres, se debe utilizar una contraseña que contenga mínimo un número, mínimo un carácter en mayúsculas y mínimo un carácter en minúsculas.</small></p>
    </div>

    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>

<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")
