@model DevolucionesUNISinu.Business.DTOs.Usuarios.UsuarioRegistrarDto

@{
    Layout = null;
}
@section Styles{

}



<form asp-action="Crear" autocomplete="off" id="formulario" onsubmit="return jQueryAjaxPost(this,'Crear usuario', '¿Desea crear el usuario?');">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nombres" class="control-label"></label>
        <input asp-for="Nombres" class="form-control" />
        <span asp-validation-for="Nombres" class="text-danger error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellidos" class="control-label"></label>
        <input asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos" class="text-danger error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger error"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmarPassword" class="control-label"></label>
        <input asp-for="ConfirmarPassword" class="form-control" />
        <span asp-validation-for="ConfirmarPassword" class="text-danger error"></span>
    </div>
    <div class="text-muted">
        <p class="text-danger"><small>La contraseña debe contener entre 9 y 20 caracteres, se debe utilizar una contraseña que contenga mínimo un número, mínimo un carácter en mayúsculas, un carácter especial y mínimo un carácter en minúsculas.</small></p>
    </div>



    <div class="form-group">
        <label asp-for="Rol" class="control-label"></label>
        <select asp-for="Rol" asp-items="ViewBag.ListaRoles" class="form-control">
            <option disabled selected>--- Seleccione ---</option>
        </select>
        <span asp-validation-for="Rol" class="text-danger error"></span>
    </div>



    <div class="form-group">
        <div class="col-md-6 offset-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>

<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")